@tailwind base;
@tailwind components;
@tailwind utilities;

.personal_notes  tr {
  /* display: flex; */
}

.personal_notes  tr > *{
  padding: 5px 10px;
  text-align: left;
  border: 1px solid rgb(153, 153, 153);
}

.personal_notes  tr > td:nth-child(2){
  min-width: 400px
}
 
.personal_notes  tr:nth-last-child(2){
  text-align: center;
  /* border: 1px dashed rgb(153, 153, 153);; */
}
 
.personal_notes  tr:last-child > td{
  text-align: center;
  border: 1px dashed rgb(153, 153, 153);;
}
/*  
.personal_notes  tr:last-child  {
  border: 1px solid rgb(255, 0, 0) !important;
} */